// logotip
.logo {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: black;
    text-decoration: none;
}

// кнопки

//чат
.but_message {
    height: 25px;
}

//личный кабинет
.cabinet_btn {
    height: 20px;
}

// шрифты