/*  подвал */

.footer {
    background-color: #EAEAEA;
    ;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
}

.wrapped_footer {
    display: flex;
    justify-content: flex-start;
}