$color_orange: #FF9401;

.content {

    background: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapped_products {
    display: flex;
}


.wrapped_banner {
    height: 197px;
    min-width: 1110px;
    border-radius: 30px;
    background: #101010;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.banner {
    /* растягиваем картинку по размерам блока родителя */
    width: 100%;
    height: 100%;
    padding: 60px;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center -49px;
    background-image: url(../pictures/iPhone-13-Pro-Max-silver-banner.png);

    .text_banner {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;

        color: #FFFFFF;
    }
}

/* Каталог товаров */

.products {
    display: flex;
    flex-wrap: wrap;

    .product-item {
        margin: 15px;
        width: 350px;
        height: 400px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card_pictures {
        width: 219px;
    }
}

.product-item:hover .card-pictures {
    transition: 0.5s; //Время эффекта 
    transform: scale(1.1); //Увеличиваем масштаб 
}

@media(max-width: 430px) {}