.cartIconWrap {
  position: relative;
  cursor: pointer;
}

.cartIconWrap span {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: white;
  background: #f16d7f;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -8px;
  top: -19px;
  font-size: 12px;
  line-height: 19px;
}

.rightHeader {
  position: relative;
}

.basket {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 37px;
  background: white;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 14px;
}

.hidden {
  display: none;
}

@media (min-width: 340px) {
  .basket {
    font-size: 16px;
  }
}
@media (min-width: 552px) {
  .basket {
    width: 500px;
  }
}
.basketRow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}

.basketHeader {
  font-weight: bold;
}

.basketTotal {
  font-weight: bold;
  text-align: right;
}

.newArrivals {
  background: #f8f3f4;
  min-height: 148px;
}

.newArrivals h1 {
  margin: 24px 0 32px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}