@charset "UTF-8";
/*  шапка сайта */
.header {
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 100%;
}

.wrapped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.rightHeader {
  position: relative;
}

.menuIcon {
  display: none;
}

.IconWrap {
  position: relative;
  cursor: pointer;
}

.IconWrap span {
  display: inline-block;
  width: 17.4px;
  height: 17.4px;
  color: white;
  background: #FFA542;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -7px;
  top: -14px;
  font-size: 12px;
  line-height: 19px;
}

@media (max-width: 430px) {
  .like_list {
    display: none;
  }
  .menu {
    display: block;
  }
}